* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ck.ck-editor__main {
    min-height: 200px;
    max-height: 500px;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
    min-height: 200px;
    max-height: 500px;
}
